*__pycache__*
**/*.png
**/*.jpg
**/*.ipynb
**/*.pth*
**/*.pt*
.env*
*/accuracies/*
**/*.npy*
**/*.eps*
**/*.pkl*
**/*.pdf
gen-flow/all-close.py
**/config.yml
runs-new/prolific/all_inputs.csv
runs-new/plots/steering_results.csv
relevance-fluency/**/*.csv
relevance-fluency/**/*.json
normalized-results/**/*.csv
normalized-results/**/*.json
*judge_accuracy.json*
*judge_outputs.json*
*ratings.csv*
*eval_outputs.csv*
*relevance_fluency_prompts.csv*
*judge_prompts.csv*
